@use 'body' as *;

// *********************************************************** MODULES
@use './modules/home';

// *********************************************************** FONTS
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Work+Sans:wght@400;600&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: var(--preto);
}

html {
  --preto: rgb(39, 48, 63);
  --azul: rgb(35, 35, 35);
  --azul-claro: rgba(196, 202, 255);
  --rosa: rgb(255, 185, 200);
  --rosa-claro: rgb(255, 220, 227);
  --verde: rgb(135, 235, 200);
  --verde-claro: rgb(195, 245, 227);
  --branco: rgb(247, 244, 237);
  --branco-claro: rgb(255, 255, 255);
}

h1 {
  font-size: 2em;
  @media (min-width: func-container(sm)) {
    font-size: 2.5em;
  }
}

p {
  font-size: 0.9em;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  @media (min-width: func-container(sm)) {
    font-size: 1em;
  }
}
