@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Work+Sans:wght@300;600&display=swap");
/* ********************************************* RESET */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header, nav, aside, section,
article, main, div, footer,
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, pre,
ul, ol, li, dl, dt, dd, blockquote,
button, select, input, textarea,
a, span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  list-style: none;
  text-decoration: inherit;
}

table, thead, tbody, tfoot,
tr, th, td {
  text-align: initial;
  border-collapse: collapse;
  padding: 0;
  border: none;
}

img {
  width: 100%;
  object-fit: cover;
}

button, select, input, textarea {
  border-radius: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

/* *********************************************************** ELEMENTS */
.home__header__container a {
  font-family: "Courier Prime", monospace;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--azul);
  background-color: var(--branco-claro);
  border: 0.125rem solid var(--azul);
  border-radius: 0.3rem;
  box-shadow: var(--azul-claro) 0 -0.25rem 0px 0px inset;
  padding: 0.5rem 1.25rem;
  outline: none;
}

.home__header__container h1, .home__about__container h1 {
  font-size: 2em;
  line-height: 0.85em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home__header__container h1 span, .home__about__container h1 span {
  font-family: "Courier Prime", monospace;
  font-size: 1em;
  line-height: 0.45em;
  font-weight: 700;
  color: var(--azul);
  box-shadow: var(--rosa) 0 -0.2em 0 0 inset;
  padding: 0 0.25em;
  margin: 0.5em 0.2em 0 0.2em;
}

/* **************************************************************** CONTAINER */
.home__header__container, .home__about__container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 576px) {
  .home__header__container, .home__about__container {
    width: 540px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .home__header__container, .home__about__container {
    width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 960px) {
  .home__header__container, .home__about__container {
    width: 920px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .home__header__container, .home__about__container {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
/* **************************************************************** GRID */
@media (min-width: 768px) {
  .home__about__container div, .home__about__container img {
    width: calc(100% / 12 * 6);
  }
}
/* *********************************************************** HOME */
.home__header__container {
  min-height: calc(100vh - 3rem);
  padding: 2rem;
  margin-top: 3rem;
  background-color: var(--branco);
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (min-width: 960px) {
  .home__header__container {
    text-align: left;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 3rem;
    background-image: url("../../assets/illustrations/home-header.svg");
    background-repeat: no-repeat;
    background-position: 95% 75%;
    background-size: 50%;
  }
}
@media (min-width: 576px) {
  .home__header__container h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 960px) {
  .home__header__container h1 {
    max-width: 40%;
    justify-content: flex-start;
  }
}
.home__header__container p {
  margin: 1rem 0;
}
@media (min-width: 576px) {
  .home__header__container p {
    font-size: 1.2em;
  }
}
@media (min-width: 960px) {
  .home__header__container p {
    max-width: 40%;
    margin-left: 1rem;
  }
}
.home__header__container a {
  margin-left: 1rem;
}
.home__header__container img {
  max-width: 80%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .home__header__container img {
    max-width: 400px;
  }
}
@media (min-width: 960px) {
  .home__header__container img {
    display: none;
  }
}

.home__about__container {
  padding: 2rem;
  background-color: var(--verde-claro);
  text-align: center;
}
@media (min-width: 768px) {
  .home__about__container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
}
.home__about__container h1 {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .home__about__container h1 {
    justify-content: flex-start;
  }
}
.home__about__container p {
  margin: 0.5rem 0;
}

* {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: var(--azul);
  line-height: 1.3em;
}

html {
  --azul: rgb(60, 80, 255);
  --azul-claro: rgba(196, 202, 255);
  --rosa: rgb(255, 185, 200);
  --rosa-claro: rgb(255, 220, 227);
  --verde: rgb(135, 235, 200);
  --verde-claro: rgb(195, 245, 227);
  --branco: rgb(245, 245, 245);
  --branco-claro: rgb(255, 255, 255);
}

/*# sourceMappingURL=style.css.map */
