/* *********************************************************** ELEMENTS */
%btn {
  font-family: 'Courier Prime', monospace;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--preto);
  background-color: var(--branco-claro);
  border: 0.125rem solid var(--preto);
  border-radius: 0.3rem;
  box-shadow: var(--verde-claro) 0 -0.25rem 0px 0px inset;
  padding: 0.5rem 1.25rem;
  outline: none;
}

%titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  span {
    font-family: 'Courier Prime', monospace;
    font-size: 1em;
    line-height: 0.45em;
    font-weight: 700;
    color: var(--preto);
    box-shadow: var(--verde) 0 -0.2em 0 0 inset;
    padding: 0 0.15em;
    margin: 0.7em 0.15em 0 0.15em;
  }
}
